<br>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Project Title:</strong>
      <%= @bid.title %>
    </p>

    <p>
      <strong>Contractors/Suppliers:</strong>
      <%= @bid.contractor %>
    </p>

    <p>
      <strong>Number of Previous Biddings:</strong>
      <%= @bid.number %>
    </p>

    <p>
      <strong>Mode of Procurement:</strong>
      <%= @bid.mode_description %>
    </p>

    <p>
      <strong>Approved Budget Clearance:</strong>
      <%= number_with_precision( @bid.budget, precision: 2, delimiter: ',' ) %>
    </p>

    <p>
      <strong>Actual Purchase Amount/Contract Price:</strong>
      <%= number_with_precision( @bid.amount, precision: 2, delimiter: ',' ) %>
    </p>
  </div>
  <div class="col-md-6">
    <% stopper = false %>
    <p>
      <strong>Date of Pre-Procurement:</strong>
      <% if !stopper &&  @bid.preprocurement.present? && DateTime.now < @bid.preprocurement %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.preprocurement.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.preprocurement.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>

    <p>
      <strong>Date of Pre-Bidding:</strong>
      <% if !stopper &&  @bid.prebidding.present? && DateTime.now < @bid.prebidding %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.prebidding.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.prebidding.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>

    <p>
      <strong>Date of Bidding:</strong>
      <% if !stopper &&  @bid.bidding.present? && DateTime.now < @bid.bidding %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.bidding.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.bidding.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>

    <p>
      <strong>Date of Post-Qualification:</strong>
      <% if !stopper &&  @bid.postqualification.present? && DateTime.now < @bid.postqualification %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.postqualification.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.postqualification.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>

    <p>
      <strong>Date of Notice of Award:</strong>
      <% if !stopper &&  @bid.noa.present? && DateTime.now < @bid.noa %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.noa.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.noa.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>

    <p>
      <strong>Date of Purchase Order/Contract:</strong>
      <% if !stopper &&  @bid.purchase.present? && DateTime.now < @bid.purchase %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.purchase.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.purchase.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>

    <p>
      <strong>Date of Notice to Proceed:</strong>
      <% if !stopper &&  @bid.ntp.present? && DateTime.now < @bid.ntp %>
        <% stopper = true %>
        <b style="color: red;"><%= @bid.ntp.try(:strftime ,"%d %B %Y") %></b>
      <% else %>
        <%= @bid.ntp.try(:strftime ,"%d %B %Y") %>
      <% end %>
    </p>
  </div>
</div>

<p>
  <strong>Members of Technical Working Group:</strong><br>
  <% unless @bid.members.blank? %>
    <div class="well well-sm" style="overflow:auto"><%= simple_format(@bid.members) %></div>
  <% end %>
</p>

<p>
  <strong>Additional Information:</strong><br>
  <% unless @bid.addtl_info.blank? %>
    <div class="well well-sm" style="overflow:auto"><%= simple_format(@bid.addtl_info) %></div>
  <% end %>
</p>

<p>
  <strong>Remarks:</strong><br>
  <% unless @bid.remarks.blank? %>
    <div class="well well-sm" style="overflow:auto"><%= simple_format(@bid.remarks) %></div>
  <% end %>
</p>

<div class="btn-group pull-right">
  <%= link_to 'Delete', @bid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  <%= link_to 'Edit', edit_bid_path(@bid), class: "btn btn-info btn-sm" %>
  <%= link_to 'Close', root_path, class: "btn btn-success btn-sm" %>
</div>