<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bid.title %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @bid.contractor %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bid.number %>
</p>

<p>
  <strong>Preprocurement:</strong>
  <%= @bid.preprocurement %>
</p>

<p>
  <strong>Prebidding:</strong>
  <%= @bid.prebidding %>
</p>

<p>
  <strong>Bidding:</strong>
  <%= @bid.bidding %>
</p>

<p>
  <strong>Postqualification:</strong>
  <%= @bid.postqualification %>
</p>

<p>
  <strong>Noa:</strong>
  <%= @bid.noa %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @bid.purchase %>
</p>

<p>
  <strong>Ntp:</strong>
  <%= @bid.ntp %>
</p>

<p>
  <strong>Members:</strong>
  <%= @bid.members %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @bid.remarks %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
