<%= month_calendar do |date| %>
  <b class="pull-right"><%= date.strftime("%d") %></b>
  <br>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel <%= conditional_div(fetch_bids(date).count) %>">
      <div class="panel-heading" role="tab" id="heading-<%= date %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion-<%= date %>" href="#collapse-<%= date %>" aria-expanded="true" aria-controls="collapse-<%= date %>">
            <%= fetch_bids(date).count.to_s + " Bids" %>
          </a>
        </h4>
      </div>
      <div id="collapse-<%= date %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= date %>">
        <div class="panel-body">
          <% fetch_bids(date).each do |bid| %>
          	<li><%= link_to bid.title.truncate(15), bid, remote: true %></li>
          <% end %>
        </div>  
      </div>  
    </div>
  </div>
<% end %>

