<% if current_user.admin %>
  <p id="notice"><%= notice %></p>
  </br>
  <h1><b>List of Modes of Procurement</b></h1>
  <%= link_to '<i class="fa fa-plus"></i> New Mode of Procurement'.html_safe, new_mode_path, :class => "pull-right" %>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @modes.each do |mode| %>
        <tr>
          <td><%= mode.description %></td>
          <td style="text-align: right;">
             <%= link_to 'Edit', edit_mode_path(mode) %> | <%= link_to 'Destroy', mode, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render 'shared/unauthorized' %>
<% end %>

